<template>
  <v-container>
    <v-row>
      <v-col class="text-center">
        <h1 class="display-2 font-weight-bold">Bienvenido a la defensa de la P1 de ASI</h1>
        <h2>Curso 2021/2022</h2>
      </v-col>
      <v-col><v-img :src="require('../assets/udc.png')" contain height="100"></v-img></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>

<style scoped>
h1 {
  margin-top: 30px;
  margin-bottom: 60px;
}
</style>
